:root{
    --header-height:3rem;
    --nav-width:324px;

    /* font weight */
    --font-medium:500;
    --font-semi-bold:600;
    --font-bold:700;

    /* color */
    --first-color:#cc482c;
    --first-color-dark:#662616;
    --first-color-darken:#290F09;
    --text-color:#544230;
    --first-color-light:#EAE7E6;
    --first-color--lighten:#FFFAFA;


    /* sami color */
    --danger:#eb2f06;
    --warning:#fed330;
    --secondary:#0652DD;
    --dark:#182C61;
    --light:#ffffff;
    --ex-light-gray:#e3ecf4;
    --mac:#c8d6e5;
    --min:#54a0ff;
    --nice:#30336b;
    --add:#3742fa;
    --co:#57606f;
    --pik:#a1b7f9;
    --pic:#a3dff9;
    --dry:#ada97b;
    --black:#050504;



    /*font and typography */
     --body-font:'Poppins',sans-serif;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;

    /* margines  */
     --mb-1:.5rem;
     --mb-2: 1rem;
     --mb-3: 1.5rem;
     --mb-4: 2rem;
     --mb-5: 2.5rem;

    /* z-index */
    --z-fixed:100;
}